<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eyesight.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/25efc477-7e90-4c58-933d-96f9d402d648/resourceGroups/localhackday/providers/Microsoft.Web/sites/eyesight</ResourceId>
    <UserName>$eyesight</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://eyesight.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>